#!/usr/bin/make -f

build: build-stamp

build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installinit
	dh_fixperms
	install -D -m 644 $(CURDIR)/modules/chash.so $(CURDIR)/debian/php5-chash$(shell /usr/bin/php-config --extension-dir)/chash.so
	mkdir -p $(CURDIR)/debian/php5-chash/usr/share/php5-chash/
	echo "extension=chash.so" > $(CURDIR)/debian/php5-chash/usr/share/php5-chash/chash.ini-dist
	make -f Makefile.hhvm install DESTDIR=$(CURDIR)/debian/hhvm-chash
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary install
